# Web framework
fastapi==0.115.0
uvicorn[standard]==0.30.6

# ML core
scikit-learn==1.5.2
xgboost==2.1.1
numpy==1.26.4
pandas==2.2.3
joblib==1.4.2

# Data viz (used in train.py)
matplotlib==3.9.2
seaborn==0.13.2

# HTTP & utilities
requests==2.32.3
python-dotenv==1.0.1

# Supabase
supabase==2.7.4
